<meta charset="utf-8" />

<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>

<meta name="author" content="{{ site.author }}" />
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico" type="image/x-icon" />
<link rel="canonical" href="{{ site.url }}{% if page.title %}{{ page.url }}{% endif %}" />
<link href="{{ site.rss_feed }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />

<link rel="stylesheet" type="text/css" media="all" href="/assets/css/pure.css" />
<!--[if lte IE 8]>
  <link rel="stylesheet" href="/assets/css/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="/assets/css/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/jellybeans.css" />
